{{ template "header" . }}

<div class="container">
    <div class="row">

        <div class="col-md-12">
            <h1>News List</h1>

            <ul>
                {{ range $index, $news := .News }}
                    <li>
                        <a href="show/{{ $index }}">
                            {{ $news.Title }}
                        </a>
                        <p>
                            {{ $news.Description }}
                        </p>
                        <hr />
                    </li>
                {{ end }}
            </ul>

        </div>

    </div>
</div>

{{ template "footer" }}